* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;

    background:
        radial-gradient(circle at top left, #ffb6d5, transparent 40%),
        radial-gradient(circle at bottom right, #f783b5, transparent 40%),
        #ffe6f0;
}


/* CARD */

.card {
    position: relative;

    width: 390px;
    padding: 45px 35px;

    text-align: center;

    background: rgba(255, 255, 255, 0.85);

    border: 1px solid rgba(255, 255, 255, 0.8);

    border-radius: 30px;

    box-shadow:
        0 20px 60px rgba(220, 70, 130, 0.25);

    backdrop-filter: blur(10px);

    transition: 0.4s;
}

.card:hover {
    transform: translateY(-10px);

    box-shadow:
        0 30px 70px rgba(220, 70, 130, 0.35);
}


/* AVATAR */

.avatar {
    width: 110px;
    height: 110px;

    margin: 0 auto 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background: linear-gradient(
        135deg,
        #ff4f91,
        #ff9bc2
    );

    color: white;

    font-size: 45px;
    font-weight: bold;

    border: 6px solid white;

    box-shadow:
        0 10px 30px rgba(255, 79, 145, 0.35);
}


/* NAME */

h1 {
    color: #3b2530;

    font-size: 28px;

    margin-bottom: 8px;
}


/* JOB */

.job {
    color: #e83e7c;

    font-size: 16px;

    font-weight: bold;

    letter-spacing: 1px;
}


/* LINE */

.line {
    width: 70px;
    height: 4px;

    margin: 20px auto;

    border-radius: 20px;

    background: linear-gradient(
        90deg,
        #ff4f91,
        #ff9bc2
    );
}


/* INFO */

.info {
    margin-top: 10px;

    color: #6f5963;

    font-size: 15px;

    line-height: 2.5;
}

.info i {
    width: 25px;

    color: #ed4c89;
}


/* SOCIAL */

.social {
    display: flex;

    justify-content: center;

    gap: 15px;

    margin-top: 25px;
}

.social a {
    width: 48px;
    height: 48px;

    display: flex;

    justify-content: center;
    align-items: center;

    border-radius: 50%;

    color: white;

    text-decoration: none;

    font-size: 21px;

    box-shadow:
        0 7px 15px rgba(0, 0, 0, 0.12);

    transition: 0.3s;
}


/* INSTAGRAM */

.instagram {
    background: linear-gradient(
        135deg,
        #feda75,
        #fa7e1e,
        #d62976,
        #962fbf
    );
}


/* TELEGRAM */

.telegram {
    background: #35aee2;
}


/* GITHUB */

.github {
    background: #29232b;
}


/* HOVER */

.social a:hover {
    transform: translateY(-7px) rotate(5deg);

    box-shadow:
        0 12px 25px rgba(220, 70, 130, 0.25);
}


/* MOBILE */

@media (max-width: 450px) {

    .card {
        width: 90%;

        padding: 35px 20px;
    }

    h1 {
        font-size: 23px;
    }

    .avatar {
        width: 95px;
        height: 95px;

        font-size: 38px;
    }
}
